@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  z-index: 999;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6b7280;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0070f0;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0058bd;
}
